.card {
	width: 200px;
	min-width: 200px;
	min-height: 150px;
	cursor: pointer;
}

.card:hover {
	opacity: 0.7;
}

.card-title {
	text-align: center;
	color: white;
}

.card-text {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.card-1 {
	background-color: #e74c3c;
}

.card-2 {
	background-color: #3498db;
}

.card-3 {
	background-color: #2ecc71;
}

@media only screen and (max-width: 575.9px) {
	.title {
		text-align: center;
		padding: 0;
	}
}
