*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
}

/* SIDEBAR */

.sidebar {
	min-height: calc(37.45px * 5);
}

.btn:hover,
.selected {
	background-color: gray;
}

/* DASHBOARD */

.card {
	width: 200px;
	min-width: 200px;
}

/* PRODUCT */

.icon {
	font-size: 20px;
	color: black;
}

.icon:hover {
	/* change later */
	color: blue;
	background-color: lightgray;
}

.bin-icon {
	cursor: pointer;
}

/* View Product */

.product-container {
	min-width: 300px;
}
