*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	overflow-x: hidden;
}

.main-content {
	margin-top: 10px;
	margin-left: 110px;
}

.title {
	padding: 10px 0px 0px 20px;
}

@media only screen and (max-width: 575.9px) {
	.main-content {
		margin-top: 210px;
		margin-inline: auto;
	}
}
