*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.btn:hover,
.selected {
	background-color: gray;
}

.card {
	width: 200px;
	min-width: 200px;
}

@media (max-width: 900px) {
	.card-container {
		flex-direction: column;
		align-items: center;
	}

	.card {
		margin-block: 10px;
	}
}
